* {
    --header-color: #293897;
    --background-color: #FFF;
    --sidebar-color: #E0E0E0;
    --sidebar-border-color: #808080;
    --footer-color: #0B1134;
}

body {
    background-color: var(--background-color);
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.1em;

    display: grid;
    position: relative;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--header-color);
    color: #FFF;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    justify-content: center;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 3em;
}
header > div > * {
    text-align: center;
}
header h1 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 4em;
}
header hr {
    background-color: #FFF;
    height: 0.1em;
    width: 15em;
}

main {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
main > .page-content {
    width:  100%;
    padding: 2em;
}

main > .sidebar {
    background-color: var(--sidebar-color);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--sidebar-border-color);
}
main > .sidebar ul {
    list-style-type: none;
    padding:  0;
    margin:  0;
}
main > .sidebar ul > li {
    padding: 0.75em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--sidebar-border-color);
    text-align: center;
    font-size: 1.25em;
    background-color: var(--sidebar-color);
}
main > .sidebar ul > li * {
    color: #000;
    text-decoration: none;
}
main > .sidebar ul > li * :hover {
    color: #000;
    text-decoration: none;
}
main > .sidebar.scrolling {
    width: 68px;
}
main > .sidebar > aside.scrolling {
    position: fixed;
    top: 0;
}

footer {
    background-color: var(--footer-color);
    color: #FFF;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 3em 4em;
}
footer > h3 {
    font-weight: 700;
}
footer *:last-child {
    margin-bottom: 0;
}