/* main > .container */
img {
    -o-object-fit: cover;
       object-fit: cover; /* Do not scale the image */
    -o-object-position: center;
       object-position: center; /* Center the image within the element */
    height: 15em;
    width: 100%;
}

main > .page-content > .container > .row {
    padding: 1.5em 0;
}

main > .page-content > .container > .row > .text-block :last-child {
    margin-bottom: 0;
}