* {
    --form-color: #F1F1F1;
    --form-border-color: #D6D6D6;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper > form {
    width: 20em;
    padding: 2em;
    background-color: var(--form-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--form-border-color);
}