{% import 'header.jinja' as header %}
{% import 'sidebar.jinja' as sidebar %}
{% import 'footer.jinja' as footer %}
{% import 'media.jinja' as media %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    {% block assets_css %}
    {% assets "base_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% endblock %}
    <title>{% block title %}Ville de Pierrefonds{% endblock %}</title>
  </head>
  <body>
    {{ header.call() }}
    <main>
    <div class="sidebar">
    {{ sidebar.call() }}
    </div>
    <div class="page-content">
    {% block content %}{% endblock %}
    </div>
    </main>
    {{ footer.call() }}
	
    {% block assets_js %}
    {% assets "base_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock %}
  </body>
</html>
