<!DOCTYPE html> 
<html> 
  
<head> 
    <title>HTML Redirect</title> 
    <meta http-equiv="refresh"
        content="0; url = mailto:contact@anchorwave.fr" /> 
</head> 
  
<body> 
    <h1 style="text-align:center;color:#293897;"> 
         Ville de Pierrefonds 
    </h1> 
      
    <p style="text-align:center;"> 
        Si ce texte persiste, c'est que votre navigateur ne supporte probablement pas les redirections.<br />
        Vous pouvez donc plutôt cliquer sur ce lien pour nous contacter :<br />
        <a href="mailto:contact@anchorwave.fr">mailto:contact@anchorwave.fr</a>
    </p> 
</body> 
  
</html> 