{% macro call() -%}
<footer>
    <h3>Ville de Pierrefonds</h3>
    <p>
        03.44.42.80.38<br/>
        trucmuche@mairie-pierrefonds.fr<br/>
        Place de l'Hôtel de Ville<br/>
        60350 Pierrefonds
    </p>
</footer>
{% endmacro %}
