{% macro call() -%}
<header>
    <div>
        <h1>Ville de Pierrefonds</h1>
        <hr class="scroll-hide">
        <h2 class="scroll-hide">Découvrez son patrimoine</h2>
    </div>
</header>
{% endmacro %}
