{% extends "base.jinja" %}

{% block assets_css %}
{% assets "home_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
<h2>Découvrez la ville de Pierrefonds</h2>
<div class="container">
    <div class="row align-items-center">
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
    </div><div class="row align-items-center">
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            {{ media.display("chateau1.jpg", "img") }}
        </div>
        <div class="text-block col-8">
            <p>Pierrefonds est une commune française située dans le département de l'Oise dans la région Hauts-de-France.
            Située en lisière est de la forêt de Compiègne, elle est principalement connue pour son château de Pierrefonds, restauré par Viollet-le-Duc.</p>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Duis aute irure dolor in reprehenderit in voluptate velit. Nihil molestiae consequatur, vel illum qui dolorem eum. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
        </div>
    </div>
</div>
{% endblock %}
