{% extends "base.jinja" %}

{% block assets_css %}
{% assets "login_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
<h2>Se connecter à votre compte</h2>
<p>Pas de compte ? <a href="{{ url_for('front_app.' ~ 'register') }}">En créer un ici.</a></p>
<div class="wrapper form-wrapper">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="authEmail">Adresse e-mail</label>
            <input type="email" class="form-control" id="authEmail" aria-describedby="emailHelp" placeholder="E-mail" required>
            <div class="invalid-feedback">
                Veuillez entrer votre adresse e-mail.
            </div>
        </div>
        <div class="form-group">
            <label for="authPassword">Mot de passe</label>
            <input type="password" class="form-control" id="authPassword" placeholder="Mot de passe" required>
            <div class="invalid-feedback">
                Veuillez entrer votre mot de passe.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="{{ url_for('front_app.' ~ 'home') }}" formmethod="POST">Se connecter</button>
        <small id="passwordHelpBlock" class="form-text text-muted">
            <a href="{{ url_for('front_app.' ~ 'login') }}">Mot de passe oublié ?</a><br>
        </small>
    </form>
</div>
{% endblock %}

{% block assets_js %}
{% assets "login_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}