{% macro display(link, type="img") -%}
{% if type == "img" %}
<img src="{{ 'static/img/' ~ link }}"/>
{% else %}
<video controls>
  <source src="{{ 'static/vid/' ~ link }}" type="video/mp4">
  <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
     Voici <a href="{{ link }}">un lien pour télécharger la vidéo</a>.</p>
</video>
{% endif %}
{%- endmacro %}
