{% extends "base.jinja" %}

{% block assets_css %}
{% assets "login_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
<h2>Créer un compte</h2>
<p>Vous possédez déjà un compte ? <a href="{{ url_for('front_app.' ~ 'login') }}">Se connecter ici.</a></p>
<div class="wrapper form-wrapper">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="authName">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="authName" aria-describedby="emailHelp" placeholder="Nom d'utilisateur" required>
            <div class="invalid-feedback">
                Veuillez entrer un nom d'utilisateur.
            </div>
        </div>
        <div class="form-group">
            <label for="authEmail">Adresse e-mail</label>
            <input type="email" class="form-control" id="authEmail" aria-describedby="emailHelp" placeholder="E-mail" required>
            <div class="invalid-feedback">
                Veuillez entrer votre adresse e-mail.
            </div>
        </div>
        <div class="form-group">
            <label for="authPassword">Mot de passe</label>
            <input type="password" class="form-control" id="authPassword" placeholder="Mot de passe" required>
            <div class="invalid-feedback">
                Veuillez entrer votre mot de passe.
            </div>
        </div>
        <div class="form-group">
            <label for="authPassword">Confirmer le mot de passe</label>
            <input type="password" class="form-control" id="authPassword" placeholder="Même mot de passe" required>
            <div class="invalid-feedback">
                Veuillez entrer le même mot de passe.
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Accepter les conditions d'utilisation
                </label>
                <div class="invalid-feedback">
                    Vous devez accepter les conditions avant de vous enregistrer.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="{{ url_for('front_app.' ~ 'home') }}" formmethod="POST">S'enregistrer</button>
    </form>
</div>
{% endblock %}

{% block assets_js %}
{% assets "login_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}