{% macro call() -%}
<aside>
    <ul>
    {% set sidebarLinks = [("🏠", "home", "Accueil"), ("🏛", "monuments", "Monuments"), ("🍴", "restaurants", "Restaurants"), ("🛏", "hebergements", "Hébergements"), ("🎳", "loisirs", "Loisirs"), ("📷", "medias", "Médias"), ("📰", "news", "Informations"), ("📅", "agenda", "Agenda"), ("✉", "contact", "Contact"), ("👨‍👧", "login", "Connexion")] %}
    {% for link in sidebarLinks %}
        <li><a href="{{ url_for('front_app.' ~ link[1]) }}" >{{ link[0] }}</a></li>
    {% endfor %}
    </ul>
</aside>
{%- endmacro %}